* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
}

.login {
  height: 380px;
  width: 350px;
  position: absolute;
  background-color: #ffffff;
  top: 8%;
  left: 52%;
  text-align: center;
  border: 1px solid #dbdbdb;
}

.login h1 {
  margin: 6%;
  color: black;
  font-family: Billabong;
  font-weight: 100;
  font-size: 55px;
}

.login input {
  padding: 9px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
}
button {
  position: relative;
  width: 270px;
  height: 30px;
  text-align: left;
  margin-top: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #0095f6;
  border-radius: 8%;
  border: 0px solid #dbdbdb;
}
button:hover {
  cursor: pointer;
}
