* {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: #fafafa;
}

.login {
  height: 380px;
  width: 350px;
  position: relative;
  background-color: #ffffff;
  margin-top: 5%;
  left: 52%;
  border: 1px solid #dbdbdb;
}

.login h1 {
  margin: 6%;
  color: black;
  font-family: Billabong;
  font-weight: 100;
  font-size: 55px;
  text-align: center;
}

.login input {
  padding: 12px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
  text-align: left;
  position: relative;
  display: flex;
  font-size: 12px;
}

.login:focus-within usernameActive {
  transform: translate(0, -43px) scale(0.75);
}

.login:focus-within passwordActive {
  transform: translate(0, -43px) scale(0.75);
}

.login .Active {
  transform: translate(0, -43px) scale(0.75);
}

/* .Active {
  transform: translate(0, -43px) scale(0.75);
} */

.login label {
  margin-left: 40px;
  font-size: 14px;
  width: 500px;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, -35px) scale(1);
  outline: none;

  transform-origin: top left;
  transition: all 0.2s ease-out;
}
.login button {
  position: relative;
  width: 270px;
  height: 30px;
  text-align: left;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #0095f6;
  border-radius: 8%;
  border: 0px solid #dbdbdb;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}
button:hover {
  cursor: pointer;
}
.login button:disabled {
  border: 1px solid #c1dffd;
  background-color: #c1dffd;
  color: whiite;
  cursor: auto;
}

.has-separator {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
  color: #999999;
  font-size: 0.9rem;
}

.has-separator::before {
  content: '';
  width: 100px;
  height: 1.5px;
  background-color: #dbdbdb;
  top: 71%;
  position: absolute;
  margin-left: -120px;
  transform: translateY(-50%);
}

.has-separator::after {
  content: '';
  width: 100px;
  height: 1.5px;
  background-color: #dbdbdb;
  top: 71%;
  position: absolute;
  margin-left: 20px;
  transform: translateY(-50%);
}

.facebook-login {
  font-size: 16px;
  font-family: Proxima Nova;
  font-weight: bolder;
  color: #385185;
  width: 190px;
  line-height: 30px;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-left: 80px;
  text-decoration: none;
}

.fbImage {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

.forgotPassword {
  font-family: Proxima Nova Alt;
  font-size: 13px;
  margin-top: 15px;
  margin-left: 120px;
  color: #385185;
}

.signup {
  height: 540px;
  width: 350px;
  position: relative;
  background-color: #ffffff;
  margin-top: 3%;
  left: 52%;
  border: 1px solid #dbdbdb;
}

.signup h1 {
  margin: 6%;
  color: black;
  font-family: Billabong;
  font-weight: 100;
  font-size: 55px;
  text-align: center;
}
.signup a:visited {
  text-decoration: none;
  color: #0096f6;
}
.signup a:hover {
  text-decoration: none;
  color: #0096f6;
}
.signup a:focus {
  text-decoration: none;
  color: #0096f6;
  outline: none;
}
.signup a:hover,
a:active {
  text-decoration: none;
  color: #0096f6;
}

.signuptext {
  font-family: Proxima Nova;
  font-weight: lighter;
  text-align: center;
  color: #949494;
  font-size: 17px;
  margin-top: -10px;
  margin-left: 30px;
  margin-right: 30px;
}

.fb-btn {
  position: relative;
  width: 270px;
  height: 30px;
  text-align: left;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 15px;
  background-color: #0095f6;
  border-radius: 8%;
  border: 0px solid #dbdbdb;
  margin: 0 auto;
  margin-top: 15px;
  display: block;
}

.has-separator2 {
  text-align: center;
  width: 100%;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #999999;
  font-size: 0.9rem;
}

.has-separator2::before {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #dbdbdb;
  top: 40%;
  position: absolute;
  margin-left: -120px;
  transform: translateY(-50%);
}

.has-separator2::after {
  content: '';
  width: 100px;
  height: 1px;
  background-color: #dbdbdb;
  top: 40%;
  position: absolute;
  margin-left: 20px;
  transform: translateY(-50%);
}

#create-mobile-or-email {
  padding: 12px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
  text-align: left;
  position: relative;
  display: flex;
  font-size: 12px;
}

#create-fullname {
  padding: 12px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
  text-align: left;
  position: relative;
  display: flex;
  font-size: 12px;
}

#create-username {
  padding: 12px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
  text-align: left;
  position: relative;
  display: flex;
  font-size: 12px;
}

#create-password {
  padding: 12px;
  width: 245px;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 5%;
  text-align: left;
  position: relative;
  display: flex;
  font-size: 12px;
}

.signup label {
  margin-left: 40px;
  font-size: 14px;
  width: 500px;
  padding: 0 12px;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, -35px) scale(1);

  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.signup:focus-within mobileActive {
  transform: translate(0, -43px) scale(0.75);
}

.signup:focus-within fullnameActive {
  transform: translate(0, -43px) scale(0.75);
}

.signup:focus-within usernameActive {
  transform: translate(0, -43px) scale(0.75);
}

.signup:focus-within passwordActive {
  transform: translate(0, -43px) scale(0.75);
}

.signup .Active {
  transform: translate(0, -43px) scale(0.75);
}

.signup button:disabled {
  border: 1px solid #c1dffd;
  background-color: #c1dffd;
  color: whiite;
  cursor: auto;
}

#terms-and-conditions {
  color: #999;
  font-size: 14px;
  text-align: center;
  margin: auto;
  margin-top: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

#terms-and-conditions a {
  text-decoration: none;
  color: #999;
}

#terms-and-conditions a:visited {
  text-decoration: none;
  color: #999;
}
#terms-and-conditions a:hover {
  text-decoration: none;
  color: #999;
}
#terms-and-conditions a:focus {
  text-decoration: none;
  color: #999;
  outline: none;
}
#terms-and-conditions a:hover,
a:active {
  text-decoration: none;
  color: #999;
}

.have-an-account {
  height: 70px;
  width: 350px;
  position: absolute;
  background-color: #ffffff;
  margin: auto;
  margin-top: 10%;
  border: 1px solid #dbdbdb;
}

.have-an-account p {
  margin: auto;
  font-family: Proxima Nova Alt;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  font-size: 14px;
}
.have-an-account button {
  color: #0096f6;
  text-decoration: none;
  border: none;
  background-color: transparent;
  outline: none;
}

.have-an-account button:visited {
  text-decoration: none;
  color: #0096f6;
}
.have-an-account button:hover {
  text-decoration: none;
  color: #0096f6;
}
.have-an-account button:focus {
  text-decoration: none;
  color: #0096f6;
  outline: none;
}
.have-an-account button:hover,
button:active {
  text-decoration: none;
  color: #0096f6;
}

.store {
  margin-top: 20px;
}

#get-the-app {
  margin-top: 35%;
  text-align: center;
  font-family: Proxima Nova Alt;
  font-weight: bolder;
  font-size: 15px;
}

#apple-image {
  height: 40px;
  width: 120px;
  margin-right: 5px;
  margin-left: 50px;
}

#android-image {
  height: 40px;
  width: 120px;
  margin-left: 5px;
}

#get-the-app-sn {
  margin-top: -17%;
  text-align: center;
  font-family: Proxima Nova Alt;
  font-weight: bolder;
  font-size: 15px;
}

#apple-image-sn {
  height: 40px;
  width: 120px;
  margin-right: 5px;
  margin-left: 50px;
}

#android-image-sn {
  height: 40px;
  width: 120px;
  margin-left: 5px;
}

.phones-image {
  height: 565px;
  width: 370px;
}

.phones {
  margin-left: -115%;
  margin-top: -185%;
}

.phones-signIn {
  height: 565px;
  width: 370px;
  /* background-color: green; */
  margin-left: -115%;
  margin-top: -110%;
}

.need-an-account {
  height: 70px;
  width: 350px;
  position: absolute;
  background-color: #ffffff;
  margin: auto;
  margin-top: -42%;
  border: 1px solid #dbdbdb;
}

.need-an-account p {
  margin: auto;
  font-family: Proxima Nova Alt;
  font-weight: bold;
  text-align: center;
  padding-top: 25px;
  font-size: 14px;
}
.need-an-account a {
  color: #0096f6;
  text-decoration: none;
}

.need-an-account a:visited {
  text-decoration: none;
  color: #0096f6;
}
.need-an-account a:hover {
  text-decoration: none;
  color: #0096f6;
}
.need-an-account a:focus {
  text-decoration: none;
  color: #0096f6;
  outline: none;
}
.need-an-account a:hover,
a:active {
  text-decoration: none;
  color: #0096f6;
}
